<%= form_for :session, url: session_path do |form| %>
  <br>
  <div class="text-field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>

  <div>
    <%= link_to "Sign in with Facebook", "/auth/facebook" %>
  </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>  

<% end %>
