<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="listing-field">
    <%= form.label :property %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <br>

  <div class="field">
    <%= form.label :street_address %>
    <!-- <input type="text" name="street_address" class="form-control"> -->
    <%= form.text_field :street_address, class: 'form-control' %>
  </div>
  <br>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, class: 'form-control' %>
  </div>
  <br>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, class: 'form-control' %>
  </div>
  <br>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, class: 'form-control' %>
  </div>
  <br>

  <div class="field">
    <%= form.label :country %>
    <select name='listing[country]' class='form-control' placeholder='Where'>
      <option>Afghanistan</option>
        <option>Åland Islands</option>
        <option>Albania</option>
        <option>Algeria</option>
        <option>American Samoa</option>
        <option>Andorra</option>
        <option>Angola</option>
        <option>Anguilla</option>
        <option>Antarctica</option>
        <option>Antigua and Barbuda</option>
        <option>Argentina</option>
        <option>Armenia</option>
        <option>Aruba</option>
        <option>Australia</option>
        <option>Austria</option>
        <option>Azerbaijan</option>
        <option>Bahamas</option>
        <option>Bahrain</option>
        <option>Bangladesh</option>
        <option>Barbados</option>
        <option>Belarus</option>
        <option>Belgium</option>
        <option>Belize</option>
        <option>Benin</option>
        <option>Bermuda</option>
        <option>Bhutan</option>
        <option>Bolivia</option>
        <option>Bonaire</option>
        <option>Bosnia and Herzegovina</option>
        <option>Botswana</option>
        <option>Bouvet Island</option>
        <option>Brazil</option>
        <option>British Indian Ocean Territory</option>
        <option>Brunei Darussalam</option>
        <option>Bulgaria</option>
        <option>Burkina Faso</option>
        <option>Burundi</option>
        <option>Cambodia</option>
        <option>Cameroon</option>
        <option>Canada</option>
        <option>Cape Verde</option>
        <option>Cayman Islands</option>
        <option>Central African Republic</option>
        <option>Chad</option>
        <option>Chile</option>
        <option>China</option>
        <option>Christmas Island</option>
        <option>Cocos (Keeling) Islands</option>
        <option>Colombia</option>
        <option>Comoros</option>
        <option>Congo</option>
        <option>Congo</option>
        <option>Cook Islands</option>
        <option>Costa Rica</option>
        <option>Côte d'Ivoire</option>
        <option>Croatia</option>
        <option>Cuba</option>
        <option>Curaçao</option>
        <option>Cyprus</option>
        <option>Czech Republic</option>
        <option>Denmark</option>
        <option>Djibouti</option>
        <option>Dominica</option>
        <option>Dominican Republic</option>
        <option>Ecuador</option>
        <option>Egypt</option>
        <option>El Salvador</option>
        <option>Equatorial Guinea</option>
        <option>Eritrea</option>
        <option>Estonia</option>
        <option>Ethiopia</option>
        <option>Falkland Islands (Malvinas)</option>
        <option>Faroe Islands</option>
        <option>Fiji</option>
        <option>Finland</option>
        <option>France</option>
        <option>French Guiana</option>
        <option>French Polynesia</option>
        <option>French Southern Territories</option>
        <option>Gabon</option>
        <option>Gambia</option>
        <option>Georgia</option>
        <option>Germany</option>
        <option>Ghana</option>
        <option>Gibraltar</option>
        <option>Greece</option>
        <option>Greenland</option>
        <option>Grenada</option>
        <option>Guadeloupe</option>
        <option>Guam</option>
        <option>Guatemala</option>
        <option>Guernsey</option>
        <option>Guinea</option>
        <option>Guinea-Bissau</option>
        <option>Guyana</option>
        <option>Haiti</option>
        <option>Heard Island and McDonald Islands</option>
        <option>Holy See (Vatican City State)</option>
        <option>Honduras</option>
        <option>Hong Kong</option>
        <option>Hungary</option>
        <option>Iceland</option>
        <option>India</option>
        <option>Indonesia</option>
        <option>Iran</option>
        <option>Iraq</option>
        <option>Ireland</option>
        <option>Isle of Man</option>
        <option>Israel</option>
        <option>Italy</option>
        <option>Jamaica</option>
        <option>Japan</option>
        <option>Jersey</option>
        <option>Jordan</option>
        <option>Kazakhstan</option>
        <option>Kenya</option>
        <option>Kiribati</option>
        <option>Korea</option>
        <option>Kuwait</option>
        <option>Kyrgyzstan</option>
        <option>Lao People's Democratic Republic</option>
        <option>Latvia</option>
        <option>Lebanon</option>
        <option>Lesotho</option>
        <option>Liberia</option>
        <option>Libya</option>
        <option>Liechtenstein</option>
        <option>Lithuania</option>
        <option>Luxembourg</option>
        <option>Macao</option>
        <option>Macedonia</option>
        <option>Madagascar</option>
        <option>Malawi</option>
        <option>Malaysia</option>
        <option>Maldives</option>
        <option>Mali</option>
        <option>Malta</option>
        <option>Marshall Islands</option>
        <option>Martinique</option>
        <option>Mauritania</option>
        <option>Mauritius</option>
        <option>Mayotte</option>
        <option>Mexico</option>
        <option>Micronesia</option>
        <option>Moldova</option>
        <option>Monaco</option>
        <option>Mongolia</option>
        <option>Montenegro</option>
        <option>Montserrat</option>
        <option>Morocco</option>
        <option>Mozambique</option>
        <option>Myanmar</option>
        <option>Namibia</option>
        <option>Nauru</option>
        <option>Nepal</option>
        <option>Netherlands</option>
        <option>New Caledonia</option>
        <option>New Zealand</option>
        <option>Nicaragua</option>
        <option>Niger</option>
        <option>Nigeria</option>
        <option>Niue</option>
        <option>Norfolk Island</option>
        <option>Northern Mariana Islands</option>
        <option>Norway</option>
        <option>Oman</option>
        <option>Pakistan</option>
        <option>Palau</option>
        <option>Palestinian Territory</option>
        <option>Panama</option>
        <option>Papua New Guinea</option>
        <option>Paraguay</option>
        <option>Peru</option>
        <option>Philippines</option>
        <option>Pitcairn</option>
        <option>Poland</option>
        <option>Portugal</option>
        <option>Puerto Rico</option>
        <option>Qatar</option>
        <option>Réunion</option>
        <option>Romania</option>
        <option>Russian Federation</option>
        <option>Rwanda</option>
        <option>Saint Barthélemy</option>
        <option>Saint Helena</option>
        <option>Saint Kitts and Nevis</option>
        <option>Saint Lucia</option>
        <option>Saint Martin (French part)</option>
        <option>Saint Pierre and Miquelon</option>
        <option>Saint Vincent and the Grenadines</option>
        <option>Samoa</option>
        <option>San Marino</option>
        <option>Sao Tome and Principe</option>
        <option>Saudi Arabia</option>
        <option>Senegal</option>
        <option>Serbia</option>
        <option>Seychelles</option>
        <option>Sierra Leone</option>
        <option>Singapore</option>
        <option>Sint Maarten (Dutch part)</option>
        <option>Slovakia</option>
        <option>Slovenia</option>
        <option>Solomon Islands</option>
        <option>Somalia</option>
        <option>South Africa</option>
        <option>South Georgia and the South Sandwich Islands</option>
        <option>South Sudan</option>
        <option>Spain</option>
        <option>Sri Lanka</option>
        <option>Sudan</option>
        <option>Suriname</option>
        <option>Svalbard and Jan Mayen</option>
        <option>Swaziland</option>
        <option>Sweden</option>
        <option>Switzerland</option>
        <option>Syrian Arab Republic</option>
        <option>Taiwan</option>
        <option>Tajikistan</option>
        <option>Tanzania</option>
        <option>Thailand</option>
        <option>Timor-Leste</option>
        <option>Togo</option>
        <option>Tokelau</option>
        <option>Tonga</option>
        <option>Trinidad and Tobago</option>
        <option>Tunisia</option>
        <option>Turkey</option>
        <option>Turkmenistan</option>
        <option>Turks and Caicos Islands</option>
        <option>Tuvalu</option>
        <option>Uganda</option>
        <option>Ukraine</option>
        <option>United Arab Emirates</option>
        <option>United Kingdom</option>
        <option>United States</option>
        <option>Uruguay</option>
        <option>Uzbekistan</option>
        <option>Vanuatu</option>
        <option>Venezuela</option>
        <option>Viet Nam</option>
        <option>Virgin Islands, British</option>
        <option>Virgin Islands, U.S.</option>
        <option>Wallis and Futuna</option>
        <option>Western Sahara</option>
        <option>Yemen</option>
        <option>Zambia</option>
        <option>Zimbabwe</option>
      </select>
  </div>
  <br>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>
  <br>

  <div class="field">
    <%= form.label :house_rules %>
    <%= form.text_area :house_rules, class: 'form-control' %>
  </div>
  <br>

  <div class="field">
    <%= form.label :photos %>
    <%= form.file_field :photos, multiple: true %>
  </div>
  <br>

  <div class="field">
    <%= form.label :property_type %>
    <select name='listing[property_type]' class='form-control' placeholder='Where'>
      <option>Tent</option>
      <option>Codominium</option>
      <option>House</option>
      <option>Treehouse</option>
      <option>Chalet</option>
      <option>Mansion</option>
      <option>Bangalow</option>
      <option>Castle</option>
      <option>Yurt</option>
    </select>
  </div>
  <br>

  <div class="field">
    <%= form.label :number_of_rooms %>
    <select name='listing[num_of_rooms]' class='form-control'>
      <option value="1">1 Room</option>
      <option value="2">2 Rooms</option>
      <option value="3">3 Rooms</option>
      <option value="4">4 Rooms</option>
      <option value="5">5 Rooms</option>
      <option value="6">6 Rooms</option>
      <option value="7">7 Rooms</option>
      <option value="8">8 Rooms</option>
      <option value="9">9 Rooms</option>
      <option value="10">10 Rooms</option>
      <option value="11">11+ Rooms</option>
  </select>
  </div>
  <br>

  <div class="field">
    <%= form.label :number_of_bathrooms %>
    <select name='listing[num_of_bathrooms]' class='form-control'>
      <option value="1">1 Bathroom</option>
      <option value="2">2 Bathrooms</option>
      <option value="3">3 Bathrooms</option>
      <option value="4">4 Bathrooms</option>
      <option value="5">5 Bathrooms</option>
      <option value="6">6 Bathrooms</option>
      <option value="7">7 Bathrooms</option>
      <option value="8">8 Bathrooms</option>
      <option value="9">9 Bathrooms</option>
      <option value="10">10 Bathrooms</option>
      <option value="11">11+ Bathrooms</option>
  </select>
  </div>
  <br>

  <div class="field">
    <%= form.label :max_number_of_guests %>
    <select name='listing[max_num_of_guests]' class='form-control'>
      <option value="1">1 Guest</option>
      <option value="2">2 Guests</option>
      <option value="3">3 Guests</option>
      <option value="4">4 Guests</option>
      <option value="5">5 Guests</option>
      <option value="6">6 Guests</option>
      <option value="7">7 Guests</option>
      <option value="8">8 Guests</option>
      <option value="9">9 Guests</option>
      <option value="10">10 Guests</option>
      <option value="11">11+ Guests</option>
  </select>
  </div>
  <br>

  <div class="form-group">
    <%= form.label :amenity_list, "Amenities" %>
    <div>
          
        <%= form.label :elevator_in_building, "Elevator in Building" , style: 'display: inline'%> 
        <%= form.check_box :amenity_list, {multiple: true, style: 'margin-right: 10px'}, "Elevator in Building", nil %>
        
        <%= form.label :gym, "Gym", style: 'display: inline' %>
        <%= form.check_box :amenity_list, {multiple: true, style: 'margin-right: 10px'}, "Gym", nil %>
 
        <%= form.label :breakfast, "Breakfast", style: 'display: inline' %>
        <%= form.check_box :amenity_list,{multiple: true, style: 'margin-right: 10px'}, "Breakfast", nil %>
                   
        <%= form.label :washer, "Washing Machine", style: 'display: inline' %>
        <%= form.check_box :amenity_list,{multiple: true, style: 'margin-right: 10px'}, "Washing Machine", nil %>

        <%= form.label :pets_allowed, "Pets Allowed", style: 'display: inline' %>
        <%= form.check_box :amenity_list,{multiple: true, style: 'margin-right: 10px'}, "Pets Allowed", nil %>
        
    </div>
  </div>


  <div class="field">
    <%= form.label :price %>
   <!--  <input type="number" name="listing[price]" class="form-control" placeholder="RM / night"> -->
   <%= form.number_field :price, class: 'form-control', placeholder: "RM / night"%>
  </div>
  <br>

  <div class="field">
    <%= form.label :check_in_time %>
    <%= form.text_field :check_in_time, class: 'form-control' %>
  </div>
  <br>

  <div class="field">
    <%= form.label :check_out_time %>
    <%= form.text_field :check_out_time, class: 'form-control' %>
  </div>


  <br>
  <div class="actions">
    <%= form.submit class: 'btn btn-default' %>
  </div>
<% end %>
<br>
