<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img style="height: 250px; width: 300px;" src="<%= listing.photos[0] %>" alt="...">
      <div class="caption" style="height: 200px;" >
        <h3><%= listing.title %></h3>
        <p><%= listing.description %></p>
      <p><a href="/listings/<%= listing.id %>" class="btn btn-primary" role="button">Show More</a>
          <!-- <a href="#" class="btn btn-default" role="button">Button</a></p> -->
      </div>
      </div>
    </div>
  <% end %>
</div>


<h5 style="color: black"><%= will_paginate @listings%></h5>