<br>
<h1>Airbnb</h1>
<h3>Book unique homes and experience a city like a local.</h3>

<% if signed_in? %>
<br>
Welcome, <%= link_to "#{current_user.first_name}", user_path(current_user) %>!
<% end %>

<br><br><br>

<%= link_to "FOR YOU", "/" %> |
<%= link_to "HOMES", "/listings" %> |
<%= link_to "EXPERIENCES", "/" %> |
<%= link_to "RESTAURANTS", "/" %> |

<%= render 'listings/listings' %>