<div class="slogan">
<h1>Airbnb</h1>
<h3>Book unique homes and experience a city like a local.</h3>

<% if signed_in? %>
<br>
Welcome, <%= link_to "#{current_user.first_name}", user_path(current_user) %>!
<% end %>
</div>

<br><br><br>


<%= form_tag(root_path, :method => "get", id: "search-form") do %>
<div class="search" style="width: 100%;">
        <div class="container" style= "margin: 0 auto;">
          <div class="row">
            <div class="col-md-12"> <!-- col-md-offset-1 -->
              <div class="form-section" >
<!--                 <div class="row"> -->
                    <!-- <form role="form"> -->
                      <div class="col-md-3">
                        <div class="form-group">
                          <!-- <label class="sr-only" for="location">Location</label> -->
                          <!-- <input type="text" class="form-control" id="location" placeholder="Where" value='<%#= params[:location] %>'> -->

                          <%#= text_field_tag :location, params[:location], class: 'form-control', id: 'location', placeholder: 'Where' %>
                          <select name='location' class='form-control' id='guest' placeholder='Where' <% params[:location] %>>
	                          <option>Afghanistan</option>
															<option>Åland Islands</option>
															<option>Albania</option>
															<option>Algeria</option>
															<option>American Samoa</option>
															<option>Andorra</option>
															<option>Angola</option>
															<option>Anguilla</option>
															<option>Antarctica</option>
															<option>Antigua and Barbuda</option>
															<option>Argentina</option>
															<option>Armenia</option>
															<option>Aruba</option>
															<option>Australia</option>
															<option>Austria</option>
															<option>Azerbaijan</option>
															<option>Bahamas</option>
															<option>Bahrain</option>
															<option>Bangladesh</option>
															<option>Barbados</option>
															<option>Belarus</option>
															<option>Belgium</option>
															<option>Belize</option>
															<option>Benin</option>
															<option>Bermuda</option>
															<option>Bhutan</option>
															<option>Bolivia</option>
															<option>Bonaire</option>
															<option>Bosnia and Herzegovina</option>
															<option>Botswana</option>
															<option>Bouvet Island</option>
															<option>Brazil</option>
															<option>British Indian Ocean Territory</option>
															<option>Brunei Darussalam</option>
															<option>Bulgaria</option>
															<option>Burkina Faso</option>
															<option>Burundi</option>
															<option>Cambodia</option>
															<option>Cameroon</option>
															<option>Canada</option>
															<option>Cape Verde</option>
															<option>Cayman Islands</option>
															<option>Central African Republic</option>
															<option>Chad</option>
															<option>Chile</option>
															<option>China</option>
															<option>Christmas Island</option>
															<option>Cocos (Keeling) Islands</option>
															<option>Colombia</option>
															<option>Comoros</option>
															<option>Congo</option>
															<option>Congo</option>
															<option>Cook Islands</option>
															<option>Costa Rica</option>
															<option>Côte d'Ivoire</option>
															<option>Croatia</option>
															<option>Cuba</option>
															<option>Curaçao</option>
															<option>Cyprus</option>
															<option>Czech Republic</option>
															<option>Denmark</option>
															<option>Djibouti</option>
															<option>Dominica</option>
															<option>Dominican Republic</option>
															<option>Ecuador</option>
															<option>Egypt</option>
															<option>El Salvador</option>
															<option>Equatorial Guinea</option>
															<option>Eritrea</option>
															<option>Estonia</option>
															<option>Ethiopia</option>
															<option>Falkland Islands (Malvinas)</option>
															<option>Faroe Islands</option>
															<option>Fiji</option>
															<option>Finland</option>
															<option>France</option>
															<option>French Guiana</option>
															<option>French Polynesia</option>
															<option>French Southern Territories</option>
															<option>Gabon</option>
															<option>Gambia</option>
															<option>Georgia</option>
															<option>Germany</option>
															<option>Ghana</option>
															<option>Gibraltar</option>
															<option>Greece</option>
															<option>Greenland</option>
															<option>Grenada</option>
															<option>Guadeloupe</option>
															<option>Guam</option>
															<option>Guatemala</option>
															<option>Guernsey</option>
															<option>Guinea</option>
															<option>Guinea-Bissau</option>
															<option>Guyana</option>
															<option>Haiti</option>
															<option>Heard Island and McDonald Islands</option>
															<option>Holy See (Vatican City State)</option>
															<option>Honduras</option>
															<option>Hong Kong</option>
															<option>Hungary</option>
															<option>Iceland</option>
															<option>India</option>
															<option>Indonesia</option>
															<option>Iran</option>
															<option>Iraq</option>
															<option>Ireland</option>
															<option>Isle of Man</option>
															<option>Israel</option>
															<option>Italy</option>
															<option>Jamaica</option>
															<option>Japan</option>
															<option>Jersey</option>
															<option>Jordan</option>
															<option>Kazakhstan</option>
															<option>Kenya</option>
															<option>Kiribati</option>
															<option>Korea</option>
															<option>Kuwait</option>
															<option>Kyrgyzstan</option>
															<option>Lao People's Democratic Republic</option>
															<option>Latvia</option>
															<option>Lebanon</option>
															<option>Lesotho</option>
															<option>Liberia</option>
															<option>Libya</option>
															<option>Liechtenstein</option>
															<option>Lithuania</option>
															<option>Luxembourg</option>
															<option>Macao</option>
															<option>Macedonia</option>
															<option>Madagascar</option>
															<option>Malawi</option>
															<option>Malaysia</option>
															<option>Maldives</option>
															<option>Mali</option>
															<option>Malta</option>
															<option>Marshall Islands</option>
															<option>Martinique</option>
															<option>Mauritania</option>
															<option>Mauritius</option>
															<option>Mayotte</option>
															<option>Mexico</option>
															<option>Micronesia</option>
															<option>Moldova</option>
															<option>Monaco</option>
															<option>Mongolia</option>
															<option>Montenegro</option>
															<option>Montserrat</option>
															<option>Morocco</option>
															<option>Mozambique</option>
															<option>Myanmar</option>
															<option>Namibia</option>
															<option>Nauru</option>
															<option>Nepal</option>
															<option>Netherlands</option>
															<option>New Caledonia</option>
															<option>New Zealand</option>
															<option>Nicaragua</option>
															<option>Niger</option>
															<option>Nigeria</option>
															<option>Niue</option>
															<option>Norfolk Island</option>
															<option>Northern Mariana Islands</option>
															<option>Norway</option>
															<option>Oman</option>
															<option>Pakistan</option>
															<option>Palau</option>
															<option>Palestinian Territory</option>
															<option>Panama</option>
															<option>Papua New Guinea</option>
															<option>Paraguay</option>
															<option>Peru</option>
															<option>Philippines</option>
															<option>Pitcairn</option>
															<option>Poland</option>
															<option>Portugal</option>
															<option>Puerto Rico</option>
															<option>Qatar</option>
															<option>Réunion</option>
															<option>Romania</option>
															<option>Russian Federation</option>
															<option>Rwanda</option>
															<option>Saint Barthélemy</option>
															<option>Saint Helena</option>
															<option>Saint Kitts and Nevis</option>
															<option>Saint Lucia</option>
															<option>Saint Martin (French part)</option>
															<option>Saint Pierre and Miquelon</option>
															<option>Saint Vincent and the Grenadines</option>
															<option>Samoa</option>
															<option>San Marino</option>
															<option>Sao Tome and Principe</option>
															<option>Saudi Arabia</option>
															<option>Senegal</option>
															<option>Serbia</option>
															<option>Seychelles</option>
															<option>Sierra Leone</option>
															<option>Singapore</option>
															<option>Sint Maarten (Dutch part)</option>
															<option>Slovakia</option>
															<option>Slovenia</option>
															<option>Solomon Islands</option>
															<option>Somalia</option>
															<option>South Africa</option>
															<option>South Georgia and the South Sandwich Islands</option>
															<option>South Sudan</option>
															<option>Spain</option>
															<option>Sri Lanka</option>
															<option>Sudan</option>
															<option>Suriname</option>
															<option>Svalbard and Jan Mayen</option>
															<option>Swaziland</option>
															<option>Sweden</option>
															<option>Switzerland</option>
															<option>Syrian Arab Republic</option>
															<option>Taiwan</option>
															<option>Tajikistan</option>
															<option>Tanzania</option>
															<option>Thailand</option>
															<option>Timor-Leste</option>
															<option>Togo</option>
															<option>Tokelau</option>
															<option>Tonga</option>
															<option>Trinidad and Tobago</option>
															<option>Tunisia</option>
															<option>Turkey</option>
															<option>Turkmenistan</option>
															<option>Turks and Caicos Islands</option>
															<option>Tuvalu</option>
															<option>Uganda</option>
															<option>Ukraine</option>
															<option>United Arab Emirates</option>
															<option>United Kingdom</option>
															<option>United States</option>
															<option>Uruguay</option>
															<option>Uzbekistan</option>
															<option>Vanuatu</option>
															<option>Venezuela</option>
															<option>Viet Nam</option>
															<option>Virgin Islands, British</option>
															<option>Virgin Islands, U.S.</option>
															<option>Wallis and Futuna</option>
															<option>Western Sahara</option>
															<option>Yemen</option>
															<option>Zambia</option>
															<option>Zimbabwe</option>
	                          </select>
                        </div>
                      </div>
                     
<!--       <div class="row"> -->
										<!-- <div class="container"> -->
        							<div class='col-md-3'>
						            <div class="form-group">
						              <div class='input-group date' id='datetimepicker1'>
						                <input type='text' class="form-control" placeholder="Check In" name="start_date" required>
						                <span class="input-group-addon">
						                  <span class="glyphicon glyphicon-calendar"></span>
						                </span>
						              </div>
						              <script type="text/javascript">
				            				$(function () {
				                		$('#datetimepicker1').datetimepicker({
				                  	format: 'YYYY-MM-DD'
				                		});
				                		var b = new Date();
				                		b.setDate(b.getDate());
				                		$('#datetimepicker1').data("DateTimePicker").minDate(b);
				            				});
				        					</script>
						            </div>
						        	</div>
<!--       </div> -->

<!--     <div class="row"> -->
							        <div class='col-md-3'>
							          <div class="form-group">
							            <div class='input-group date' id='datetimepicker2'>
							              <input type='text' class="form-control" placeholder="Check Out" name="end_date" required>
							                <span class="input-group-addon">
							                  <span class="glyphicon glyphicon-calendar"></span>
							                </span>
							              </div>
							              <script>
        											$(function () {
                    					$('#datetimepicker2').datetimepicker({
                      					format: 'YYYY-MM-DD',
                      					useCurrent: false 
                    						});
                							});
      											</script>
							            </div>
							        	</div>
							        	<script type="text/javascript">
    											$(function () {
										        // $('#datetimepicker1').datetimepicker();
										        // $('#datetimepicker2').datetimepicker({
										            
										        //     useCurrent: false //Important! See issue #1075
										        // });
										        $("#datetimepicker1").on("dp.change", function (e) {
										            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
										        });
										        $("#datetimepicker2").on("dp.change", function (e) {
										            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
										        });
										    	});
												</script>
										<!-- 	</div> -->
<!--       </div> -->

	                      <div class="col-md-2">
	                        <div class="form-group">
	                          <!-- <label class="sr-only" for="guest">Guest</label> -->

	                          <select name='guest' class='form-control' id='guest'<% params[:guest] %>>
	                              <option value="1">1 Guest</option>
	                              <option value="2">2 Guests</option>
	                              <option value="3">3 Guests</option>
	                              <option value="4">4 Guests</option>
	                              <option value="5">5 Guests</option>
	                              <option value="6">6 Guests</option>
	                              <option value="7">7 Guests</option>
	                              <option value="8">8 Guests</option>
	                              <option value="9">9 Guests</option>
	                              <option value="10">10 Guests</option>
	                              <option value="11">11+ Guests</option>
	                          </select>
	                        </div>
	                      </div>

	                      <div class="col-md-1">
	                        <button type="submit" class="btn btn-default btn-primary">Search</button>
	                      </div>
	                 <!--    </form> -->
	                	</div>
	              	</div>
	            	</div>
	          	</div>
	        	</div>
					</div>
					<% end %>



<br><br>

<h5>
<%= link_to "FOR YOU", "/" %>  |
<%= link_to "HOMES", "/listings" %>  |
<%= link_to "EXPERIENCES", "/" %>  |
<%= link_to "RESTAURANTS", "/" %>
</h5>

<br><br><br>
<% if @listings.present? %>
  <%= render 'listings/test' %>
<% else %>
	<br><br><br>
  <p>There are no listings found.</p>
<% end %>

<%#= render 'listings/listings' %>