<div class="text-field">
  <%= form.label :first_name %>
  <%= form.text_field :first_name, type: 'text', required: true %>
</div>

<div class="text-field">
  <%= form.label :last_name %>
  <%= form.text_field :last_name, type: 'text', required: true %>
</div>

<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email', required: true %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password, required: true %>
</div>
