<% if @user == current_user %>

	<h1>Your Profile</h1>
	<br>
<% else %>
	<br>
	<h1><%= @user.first_name + " " + @user.last_name %>'s Profile</h1>
	<br>
<% end %>


	Name: <%= @user.first_name %>
	<%= @user.last_name %>
	<br>
	Email: <%= @user.email %>
	<br>


	<% if @user == current_user %>
		<div>
			<%= link_to "Edit Profile", edit_user_path(current_user) %>
		</div>
	<% end %>
		
		
	<% if (current_user.super_admin? || current_user.moderator?) && @user.role == "customer" %>
	    <%= link_to "Make Admin", upgrade_path(@user), method: :post %>
	<% end %>

	<% if (current_user.super_admin? || current_user.moderator?) && @user.role == "moderator" %>
	    <%= link_to "Remove Admin", downgrade_path(@user), method: :post %>
	<% end %>
	

	<br><br>

<h2>Listings</h2>
<br>
<%= render 'listings/test' %>