
<%= form_for @reservation, url: listing_reservations_path(@listing) do |form| %>
<!-- listing_reservations_path(@listing) -->
<!-- same as form_for [@reservation, @listing] -->

  <div class="field">
    <%= form.label :number_of_guests %>:<br>
    <%= form.number_field :num_of_guests, id: :reservation_guests %>
  </div>

  <div class="container">
  <div class="field">
    <%= form.label :check_in_date %><%# form.field :start_date %>
     <div class="container">
      <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker3'>
                    <%= form.text_field :start_date, class: 'form-control' %>
                    <!-- <input type='text' class="form-control" /> -->
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
      </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker3').datetimepicker({
                  format: 'DD/MM/YYYY'
                });
                var b = new Date();
                b.setDate(b.getDate());
                $('#datetimepicker3').data("DateTimePicker").minDate(b);
            });
        </script>
    </div>
  </div>

  <div class="field">
    <%= form.label :check_out_date %><%# form.field :end_date %>
     <div class="container">
      <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker4'>
                  <%= form.text_field :end_date, class: 'form-control' %>
                    <!-- <input type='text' class="form-control" /> -->
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>        
      </div>
      <script>
        $(function () {
                    $('#datetimepicker4').datetimepicker({
                      format: 'DD/MM/YYYY',
                      useCurrent: false 
                    });
                });
      </script>
    </div>
  </div>

  <script type="text/javascript">
    $(function () {
        // $('#datetimepicker1').datetimepicker();
        // $('#datetimepicker2').datetimepicker({
            
        //     useCurrent: false //Important! See issue #1075
        // });
        $("#datetimepicker3").on("dp.change", function (e) {
            $('#datetimepicker4').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker4").on("dp.change", function (e) {
            $('#datetimepicker3').data("DateTimePicker").maxDate(e.date);
        });
    });
  </script>
</div>

  <div class="actions">
    <%= form.submit "Book These Dates" %>
  </div>
<% end %>

