<table class = "table">
  <thead>
    <tr>
      <!-- <th>id</th> -->
      <th>Booking Guest</th>
      <th>Check-in Date</th>
      <th>Check-out Date</th>
      <th>Number of Guests</th>
      <th>Amount Paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @listing_reservations.each do |r| %>
      <tr>
        <!-- <td><%#= listing.id %></td> -->
        <td><%= "#{r.user.first_name} #{r.user.last_name}" %></td>
        <td><%= r.start_date %></td>
        <td><%= r.end_date %></td>
        <td><%= r.num_of_guests %></td>
        
        <% if r.paid == true %>
        <td>RM<%= r.total_amount %></td>
        <% else %>
        <td>RM0</td>
        <% end %>        
        
      </tr>
    <% end %>
  </tbody>
</table>


<h5 style="color: black"><%= will_paginate @listing_reservations%></h5>
