<br>
<h2>Your Booking Details</h2>
<br><br>

<p>
  <strong>Airbnb Owner: </strong>
  <%= link_to "#{@listing.user.first_name} #{@listing.user.last_name}", user_path(@listing.user) %>
</p>
<br>

<p>
  <strong>Property: </strong>
  <%= link_to @listing.title, listing_path(@listing) %>
</p>
<br>

<p>
  <strong>Check-in Date:</strong>
  <%= @reservation.start_date %>
</p>
<br>

<p>
  <strong>Check-out Date:</strong>
  <%= @reservation.end_date %>
</p>
<br>

<br>

<% if @reservation.paid == false %>
<%= link_to 'PAY NOW TO SECURE YOUR BOOKING', braintree_new_path(@reservation) %>

<br><br>

<%= link_to 'Change Booking Details', edit_user_reservation_path(@user, @reservation) %> |
<% end %>
<%= link_to 'Cancel Trip', user_reservation_path(@user, @reservation), method: :delete, data: { confirm: 'Are you sure?' } %>