<!-- application.html.erb is the GENERAL layout that appears in every page -->
<!-- you should set items that appear in every page here -->
<!-- e.g. nav bar, search bar, header, footer -->

<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> <!-- was overridden by clearance 
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 					but changed back -->
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <% if signed_in? -%>
    <div class= "nav-bar">
      <%= link_to "Home", "/" %>
      <%= link_to "My profile", "/" %>
      <%= link_to "Listings", "/" %>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    </div>
    <% else -%>
      <%= link_to t(".sign_in"), sign_in_path %>
      <%= link_to "Sign in with Facebook", "/auth/facebook" %>
    <% end -%>
  </div>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>
  <!-- yield gets the layout of the PAGE CURRENTLY BEING LOADED -->
  <!-- i.e. in this case, AFTER THE application layout-->
</body>
</html>






